.factsContainer {    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    justify-items: center;      
}

.fact img {
 float: left;
 padding-right: 5px;
 width: 100px;
 height: 100px;
}